.skills{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one, .two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    border: 1px solid rgb(68, 134, 68);
    border-radius: 50%;
}